.swiper-container {
  width: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  height: 200px;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0;
}
